node_modules
npm-debug.log
Node_Framework.sublime-project
Node_Framework.sublime-workspace
project.sublime-project
project.sublime-workspace
logs
/config-*.js
datakeys
/zsapi.log
/test.log
test/resources/output.json
/.last_linter_success

/test*.js

/static/printer

*.swp
zs-api.sublime-project
zs-api.sublime-workspace

coverage
